<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>Dev</ServerName><LauncherName></LauncherName><ExternalBrowser>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>db</Mapping-Name><Location>D:\Sites\customers\LesMustafa\POS\Shadesnstyle\db</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion9</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>