body { font-family : Tahoma; font-size : 10pt; color : #FFFFFF; background: #42BAA5; margin-left : 0px; margin-top : 0px; margin-right : 0px }
h1 { font-family : Tahoma; font-size : 16pt; font-weight : bold; font-style : normal; text-align : center; color : #FFFFFF; margin-bottom : 0px }
h2 { font-family : Tahoma; font-size : 14pt; font-weight : bold; font-style : normal; color : #FFFFFF; margin-bottom : 0px }
h3 { font-family:  Tahoma; font-size : 12pt; font-weight : bold; font-style : normal; color : #FFFFFF; margin-bottom : 0px }
h4 { font-family:  Tahoma; font-size : 10pt; font-weight : bold; font-style : normal; color : #FFFFFF; margin-bottom : 0px }
h5 { font-family:  Tahoma; font-size : 8pt; font-weight : bold; font-style : normal; color : #FFFFFF; margin-bottom : 0px }
h6 { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; font-size: 8pt }
h7 { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; font-size: 24pt }
h8 { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; font-size: 30pt }
h9 { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; font-size: 18pt }
h10 { font-family: Times, Times, Garamond; font-weight: bold; font-style: normal; font-size: 12pt; text-align : center }
